:root {
    --bg-color: #cdcdc2;
    --text-color:#23324d;
    --accent: #34425c;
    --icon: #34425c;
}

/* :root {
    --bg-color: #FFC2E2;
    --text-color:#B892FF;
    --accent: #FF90B3;
    --icon: #EF7A85;
} */
/* 
:root {
    --bg-color: #96E5D1;
    --text-color:#D07000;
    --accent: #A62349;
    --icon: #A62349;
} */


/* :root {
    --bg-color: #293462;
    --text-color:#1CD6CE;
    --accent: #FEDB39;
    --icon: #D61C4E;
} */

/* :root {
    --bg-color: #42032C;
    --text-color:#D36B00;           
    --accent: #E6D2AA;
    --icon: #F1EFDC;
} */

/* :root {
    --bg-color: #5B3758;
    --text-color: #C65B7C;
    --accent: #F9627D;
    --icon: #F9ADA0;
} */
